.weather-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: azure;
  align-items: center;
  border-bottom: 1px solid black;
}

.weather-form input[type="submit"] {
  display: block;
  padding: 15px;
  font-size: 1em;
  margin-top: 15px;
  background-color: rgb(189, 189, 189);
}
